<header>
    <div class="logo-container">
        <img src="assets/images/logo/logo-white-smart-fit.svg"/>
    </div>
    <div class="text-container">
        <div class="heading">
            <h1>Reabertura <br/>Bioritmo</h1>
            <span class="heading-border"></span>
        </div>
        <p>O horario de atendimento é das 8h às 17h. Por isso bla bla bla Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis quibusdam necessitatibus delectus commodi sunt ratione amet officia consequatur eos placeat veniam provident, quasi rerum aspernatur. Dolores quis reprehenderit neque assumenda?</p>
    </div>
</header>