:root{
    --dark-gray:#333333;
    --light-gray:#808080;
    --yellow:#FFB612;
    --red:#dc0a17;
    --green:#2FC022;
    --gray-light:#e5e5e5;
    --medium-text: #939393;
}

*{
    font-family: 'Gotham';
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/gotham/Gotham-Light.otf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/gotham/Gotham-Book.otf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/gotham/Gotham-Bold.otf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/gotham/Gotham-Black.otf') format('truetype');
    font-weight: 900;
    font-style: normal;
}